mat-spinner {
  margin: auto;
}

.card2,
.card3 {
  max-width: 1275px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 15px 5px;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  /* background: rgb(14, 167, 194); */
}

.header-image {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

table {
  width: 100%;
}

.paymentTable {
  height: 600px;
  overflow: auto;
  margin: 20px auto;
}


.mat-card> :first-child.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0px 20px 0px;
  font-size: x-large;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0px 20px 0px;
  font-size: x-large;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #673ab7;
}

.separator::before {
  margin-right: 0.25em;
}

.separator::after {
  margin-left: 0.25em;
}



/* Row Expansion  */

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.activeMonthList:hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
