mat-spinner {
  margin: auto;
}

.card2 {
  max-width: 1275px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 15px 5px;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  /* background: rgb(14, 167, 194); */
}

.header-image {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

#signup .container #signup-row #signup-column #signup-box {
  margin-top: 120px;
  max-width: 700px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 20px;
}
